body {
    padding-top: 54px;
}

main {
    padding-top: 30px;
}

h1 {
    padding-bottom: 20px;
}

p {
    margin-top: 20px;
}

#comment-form {
    margin-top: 20px;
}

#topic-index {
    margin-top: 25px;
}