<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>
        <main class="container">
            <!--navigation-->
            <% include ../static/partials/navbar.ejs %>

            <h1>Advertisements</h1>

            <ul class="list-group">
                <% advertisements.forEach((advertisement) => { %>

                <li class="list-group-item">
                    <a href="/advertisements/<%= advertisement.id %>">
                    <%= advertisement.title %>
                    </a> 
                </li>

                <% }) %>

            </ul>            

        </main>
        
    </body>
</html>